body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;	
	background: url('img/background-1.png');
	
}
.header {
	height: 550px;
	background: url('img/footer_bg.jpg') no-repeat;
	background-size: cover;
}

.header a {
	font-size: 24pt;
	color: #000000;
	margin-top: 50px;
	margin-left: 50px;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Lobster', cursive;
}
.header p {
	font-size: 42pt;
	color: #000000;
	text-transform: lowercase;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	font-family: 'Lobster', cursive;
}

@media screen and (max-width:760px) {
	.header {
		height: 300px;
	}
	.header a {
		display: none;
	}
	.header p {
		display: none;
	}
}

.main-menu {
	width: 100%;
	background-color: #000000;
	text-align: center;
}
.main-menu li {
	display: inline-block;
	height: 100px;
	margin-right: 40px;
	transition: 3s;
}
.main-menu li a {
	color: #D3D3D3;
	font-size: 24pt;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 100px;
	display: block;
	font-family: 'Lobster', cursive;
}
.main-menu li:hover {
	background-color: #808080;
}
.main-menu li:hover a {
	text-decoration: none;
	color: #fff;
}

.hamburger {
		display: none;
		line-height: 100px;
		background-color: #000000;
		padding-right: 50px;
		text-align: right;
}
.hamburger .glyphicon {
	font-size: 20pt;
	cursor: pointer
}

@media screen and (max-width:760px) {
	.main-menu {
		padding: 0;
		display: none;
	}
	.main-menu li {
		display: block;
		text-align: center;
		width: 100%;
	}
	.hamburger {
	display:block;
	}
}

@media screen and (min-width:761px) {
	.main-menu {
		display: block!important;
	}
}


.gallery img {
	width: 100%;	
}
.gallery div {
	padding: 0;
}

.overlay {
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: 1s ease;
}

.image-container:hover .overlay {
	opacity: 0.7;
}

.image-container:hover img {
	filter: blur(3px);
}
.overlay p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 18pt;
}
.overlay p a {
	color: #fff;
	text-decoration: none;
}


.contact-form {	
	background-color: #D3D3D3;
	padding: 100px;
}
.contact-form h1 {
	font-size: 24pt;
	margin-bottom: 40px;
	text-transform: uppercase;
	font-family: 'Lobster', cursive;
}

.form-control {
	height: 45px;
	border-radius: 0;
	border: 1px solid #000;
}
.form-control::placeholder {
	color: #000;
}
.btn, .btn:hover {
	padding: 15px 25px;
	background-color: #000;
	color: #fff;
	border-radius: 0;
}
.btn-default {
	border: 0;
}

@media screen and (max-width:760px) {
	.contact-form {
		padding: 30px;
	}
}



.footer {
	height: 400px;
	background: url('img/footer_bg.jpg') no-repeat;
	background-size: cover;
}
.footer img {
	margin: 100px 0 0 100px;
}	
.footer ul {
	margin-top: 100px;
	float: right;
}
.footer ul li {
	display: inline-block;
}
.footer ul li a {
	color: #fff;
	font-size: 18pt;
	padding-left: 30px;
	padding-right: 30px;
	display: block;
	text-decoration: none;
	font-family: 'Lobster', cursive;
}

@media screen and (max-width:760px) { 
	.footer img {
		width: 50%;
		margin: 80px auto 0 auto;
		display: block;
	}
	.footer ul {
		margin: 80px 0 0 0;
		text-align: center;
		float: none;
	}
	.footer ul li {
		display: block;
	}
}

.section {
	margin: 50px 0;
	font-size: 18pt;
	font-weight: bold;
}
.square-blocks div {
	height: 250px;
}
.square-blocks .light-gray-bg {
	background-color: #F0F0F0;
}
.square-blocks .dark-gray-bg {
	background-color: #E0E0E0;
}
.section h1 {
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lobster', cursive;
}
.square-blocks p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	font-size: 18pt;
}
.about-me img,
.article img {
	width: 100%;
}
.about-me div,
.article div {
	padding: 0;
}
.about-me-text,
.article-text {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.section-title {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.square-blocks span {
	font-size: 32pt;
}
.square-blocks a {
	color: #000;
}
.square-blocks a:hover {
	color: #F1C40F;
	text-decoration: none;
}
#vegas {
	height: 500px;
}
